
@model IEnumerable<CartItem_ViewModel>

@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Index";
}

<h1>Cart Items</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectivePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ImageUrl" style="width:50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectivePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-route-id="@item.Prod_Id" asp-action="Increment" class="btn btn-primary">+</a> |
                    <a asp-route-id="@item.Prod_Id" asp-action="Decrement" class="btn btn-warning">-</a> |
                    <a asp-action="Delete" asp-route-PId="@item.Prod_Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
<div>Total Cost: @ViewBag.TotalCost</div>
<div>
    <a asp-controller="CheckOut" asp-action="Index"> Check Out</a>
</div>