@model IEnumerable<FitVerse.Web.Models.CartItem_ViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Cart Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectivePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prod_Name)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.EffectivePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            
            
            <td>
                <a  asp-route-id="@item.ProductId" asp-action="Increment">+</a> |
                <a asp-route-id="@item.ProductId" asp-action="Decrement">-</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
